body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1rem ;
line-height: 1.4;
background-color: bisque;
color:rgb(61, 39, 39);
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

p{
    margin: 0 0 5rem;
}

.meme{
    max-width: 30rem;
    margin: 0 auto;
}

.meme-item{
    border: 0.2rem solid red;
}

.meme-title{
    display: block;
    color: aquamarine;
    cursor: pointer;

}

.meme-input{
    appearance: none;
}